@model EquipoViewModel

<div class="panel panel-default todo-panel">
	<div class="panel-heading">@ViewData["Title"]</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<!--<td>&#x2714;</td>-->
					<td>GUID</td>
					<td>Nombre</td>
				</tr>
		  </thead>
		  @foreach (var item in Model.Equipos)
		  {
			<tr>
				<!--<td>
					<input type="checkbox" class="done-checkbox">
				</td>-->
				<td>@item.CodEquipo</td>
				<td>@item.Nombre</td>
			</tr>
		  }
	  </table>
  <div class="panel-footer add-item-form">
  <!-- TODO: Add item form -->
  </div>
</div>
